<div style="justify-content: center;">
    <h2 i18n>Purchase Details</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="cart-panel">
    <div>
        <label><p i18n>Full name</p>
            <input type="text" i18n-placeholder="(minimum 3 charcters)" formControlName="name">
        </label>
        <div *ngIf="form.get('name')!.touched && form.get('name')!.invalid">
            <p i18n class="error" *ngIf="form.get('name')!.errors?.['required']">Please enter your name</p>
            <p i18n class="error" *ngIf="form.get('name')!.errors?.['minlength']">Name must be at least 3 characters long</p>
        </div>
    </div>
    <div>
        <label><p i18n>Address</p>
            <input type="text" i18n-placeholder="(minimum 6 charcters)" formControlName="address">
        </label>
        <div *ngIf="form.get('address')!.touched && form.get('address')!.invalid">
            <p i18n class="error" *ngIf="form.get('address')!.errors?.['required']">Please enter your address</p>
            <p i18n class="error" *ngIf="form.get('address')!.errors?.['minlength']">Address must be at least 6 characters long</p>
        </div>
    </div>
    <div>
        <label><p i18n>Credit card number</p>
            <input type="text" i18n-placeholder="(enter 16 digits)" formControlName="card">
        </label>
        <div *ngIf="form.get('card')!.touched && form.get('card')!.invalid">
            <p i18n class="error" *ngIf="form.get('card')!.errors?.['required']">Please enter your Credit Card Number</p>
            <p i18n class="error" *ngIf="form.get('card')!.errors?.['minlength']">Credit card number must be exactly 16 digits</p>
            <p i18n class="error" *ngIf="form.get('card')!.errors?.['maxlength']">Credit card number must be exactly 16 digits</p>
            <p i18n class="error" *ngIf="form.get('card')!.errors?.['pattern']">Invalid credit card number</p>
        </div>
    </div>
    <button i18n class="btn btn-primary" style="margin-top: 20px" type="submit" [disabled]="form.invalid || length<0.1" >Buy Now!</button>
</form>