.cart-panel {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 50;
}

p {
    margin-top: 5px;
}

.error {
    color: red;
}