<div class="cart-container">
    <div *ngFor="let order of listOfOrders" style="flex-direction: column;">
        <div>
            <h3 i18n>Order id: {{order.order_id}}</h3>
        </div>
        <div class="cart-panel">
            <div class="cart-item" *ngFor="let item of order.order_details">
                <img src={{item.url}} />
                <div class="cart-item-details">
                    <p><b i18n>Item id: {{item.item_id}}</b></p>
                    <p><b>{{item.name}}</b></p>
                    <p><b>{{item.price | currency}}</b></p>
                    <p><b><span i18n>Quantity: </span>{{item.quantity}}</b></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEmpty" class="cart-panel">
        <h2><b i18n>No past orders were found</b></h2>
    </div>
</div>